@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-primary: #1d3461;
  --color-primary-light: #2a4a8b;
  --color-primary-dark: #101e38;

  --color-secondary: #fb3640;
  --color-secondary-light: #fc666d;
  --color-secondary-dark: #d61520;

  --color-accent: #247ba0;
  --color-accent-light: #4da8ce;
  --color-accent-dark: #18536b;

  --color-neutral: #605f5e;
  --color-neutral-light: #8a8988;
  --color-neutral-dark: #3d3c3b;

  --color-info: #1f487e;
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #ffffff;
  --foreground: #1d3461;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a111f;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}
